# Global bazel options for toktok-stack.

import %workspace%/tools/bazelrc.boot

##############################################################################
#
# :: Bazel UI flags and globally enabled features.
#
##############################################################################

build --show_progress_rate_limit=0.5

build --check_licenses=true
build --process_headers_in_dependencies
#build --remote_download_minimal
build --strict_filesets=true
build --enable_platform_specific_config
build --watchfs
build --local_cpu_resources=HOST_CPUS

# TODO(https://github.com/protocolbuffers/protobuf/issues/9406): Enable once
# protobuf has its layering fixed.
#build --features=layering_check

build --experimental_generate_json_trace_profile
build --experimental_json_trace_compression
build --experimental_profile_cpu_usage
# This kills parallelism entirely, running 1 action at a time.
#build --experimental_local_memory_estimate

build --experimental_inmemory_dotd_files
build --experimental_inmemory_jdeps_files
build --experimental_objc_include_scanning
build --experimental_remotable_source_manifests
build --experimental_repository_cache_hardlinks

build --experimental_android_compress_java_resources=true
build --experimental_android_resource_shrinking=true
#build --experimental_desugar_java8_libs=true

# This doesn't work on macOS.
build:linux --experimental_omitfp

##############################################################################
#
# :: Execution strategy flags.
#
##############################################################################

# Use persistent workers for Java and Scala compilers (much faster).
build --strategy=Javac=worker
build --strategy=Scalac=worker
build --worker_sandboxing

build:libc++ --action_env=CXXFLAGS=-stdlib=libc++
build:libc++ --action_env=LDFLAGS=-stdlib=libc++
build:libc++ --action_env=BAZEL_CXXOPTS=-stdlib=libc++
build:libc++ --action_env=BAZEL_LINKLIBS=-l%:libc++.a:-l%:libc++abi.a:-lm

# Use remote caching. This is disabled by default, because unless you have a
# fairly fast connection (like on our CI systems), this is not very useful.
#build:remote --remote_cache=code.tox.chat:8980
build:remote --remote_http_cache=https://code.tox.chat/bazel

# Use remote execution. Disabled by default, because we don't want everyone to
# use the remote executors (and they might be down sometimes).
build:remote-exec --remote_executor=grpc://code.tox.chat:8980
build:remote-exec --config=rbe

# Use local docker sandbox. This is a lot slower than linux-sandbox, but is more
# hermetic and reproducible, so it is used on our CI.
build:docker-sandbox --experimental_docker_image=toxchat/builder:latest
build:docker-sandbox --experimental_docker_verbose
build:docker-sandbox --experimental_enable_docker_sandbox
build:docker-sandbox --define=EXECUTOR=remote
build:docker-sandbox --config=rbe

build:docker-sandbox --genrule_strategy=docker
build:docker-sandbox --spawn_strategy=docker
build:docker-sandbox --strategy=Javac=docker

# Use sandboxfs, which is much faster than docker, but slightly less hermetic.
#
# TODO(https://github.com/tweag/rules_haskell/issues/1265): Enable this by
# default once rules_haskell supports it.
build:sandboxfs --experimental_use_sandboxfs=auto
build:sandboxfs --experimental_use_windows_sandbox=auto

##############################################################################
#
# :: Filter out OS-specific parts from "bazel build //...".
#
##############################################################################

build:freebsd --build_tag_filters=-windows,-macos
build:linux --build_tag_filters=-windows,-macos
build:macos --build_tag_filters=-windows

##############################################################################
#
# :: Extra strictness in rule execution.
#
##############################################################################

build --strict_java_deps=error
build --experimental_guard_against_concurrent_changes
build --experimental_import_deps_checking=warning
build --experimental_run_validations
build --experimental_strict_fileset_output
build --experimental_strict_java_deps=warn

##############################################################################
#
# :: C/C++ compiler flags.
#
##############################################################################

# Debug mode.
build:debug -c dbg

# Release mode.
build:release -c opt
# NDEBUG disables asserts.
#build:release --copt='-Wno-unused-variable'

build:dynamic-analysis --jobs=4
build:dynamic-analysis --test_timeout=300
build:dynamic-analysis --strip=never
build:dynamic-analysis --per_file_copt='//c-toxcore[:/]@-g,-U_NDEBUG'

build:valgrind --run_under="valgrind --track-origins=yes --error-exitcode=1 --fullpath-after=/proc/self/cwd/"
build:valgrind --config=dynamic-analysis

build:drmemory --run_under="drmemory --"
build:drmemory --config=dynamic-analysis

build:sanitizer --copt='-g'
build:sanitizer --copt='-U_NDEBUG'
build:sanitizer --copt='-fno-inline'
build:sanitizer --copt='-fno-omit-frame-pointer'
build:sanitizer --strip=never
build:sanitizer --flaky_test_attempts=1

build:asan --config=sanitizer
build:asan --copt='-fsanitize=address,undefined'
build:asan --linkopt='-fsanitize=address,undefined'
# https://github.com/bazelbuild/bazel/issues/11122
build:asan --linkopt='-fsanitize-link-c++-runtime'
build:msan --test_env=ASAN_OPTIONS=color=always

build:msan --config=sanitizer
build:msan --config=libc++
build:msan --copt='-fsanitize=memory'
build:msan --copt='-fsanitize-memory-track-origins=2'
build:msan --linkopt='-fsanitize=memory'
build:msan --test_env=MSAN_OPTIONS=color=always

build:tsan --config=sanitizer
build:tsan --copt='-fsanitize=thread'
build:tsan --linkopt='-fsanitize=thread'
build:tsan --test_env=TSAN_OPTIONS=color=always

# Link-time optimization.
build:lto --copt='-flto'
build:lto --linkopt='-flto'

# On Windows, we always generate debug info, and always compile with
# optimisation flags.
build:windows --config=release
build:windows --copt='/Z7'
#build:windows --copt='/UNDEBUG'
# Disable inlining of functions not marked as "inline".
build:windows --copt='/Ob1'
build:windows --linkopt='/DEBUG:FULL'

# Generate code to protect against Spectre variant 1.
#build:windows --copt='/Qspectre'

# This file breaks clang on OSX when compiled with -O2 or higher:
# fatal error: error in backend: Cannot emit physreg copy instruction
build:macos --per_file_copt='c-toxcore/toxcore/group.c$@-O1'

build:android --crosstool_top=//external:android/crosstool
build:android --cpu=armeabi-v7a
build:android --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:android --verbose_failures
build:android --copt='-Wno-unused-macros'

build:gnulike --per_file_copt='external/.*[-_]avx\\.c$@-mavx,-w'
build:gnulike --per_file_copt='external/.*[-_]avx2\\.c$@-mavx2,-w'
build:gnulike --per_file_copt='external/.*[-_]avx512f\\.c$@-mavx512f,-w'
build:gnulike --per_file_copt='external/.*[-_]sse\\.c$@-mssse3,-msse4,-w'
build:gnulike --per_file_copt='external/.*[-_]sse4\\.c$@-msse4,-w'
build:gnulike --per_file_copt='external/.*[-_]sse41\\.c$@-msse4.1,-w'
build:gnulike --per_file_copt='external/.*[-_]sse4_1\\.c$@-msse4.1,-w'
build:gnulike --per_file_copt='external/.*[-_]ssse3\\.c$@-mssse3,-w'

# Colour diagnostics, even though bazel uses non-tty pipes.
build:gnulike --copt='-fdiagnostics-color=always'

# ABI and source behaviour options.
build:gnulike --copt='-funsigned-char'
build:gnulike --cxxopt='-fno-exceptions'
build:gnulike --cxxopt='-fno-rtti'
build:gnulike --cxxopt='-DGOOGLE_PROTOBUF_NO_RTTI'

# Use musl instead of glibc.
build:musl --copt='-nostdinc'
build:musl --copt='-isystem/usr/include/c++/6'
build:musl --copt='-isystem/usr/include/x86_64-linux-gnu/c++/6'
build:musl --copt='-isystem/usr/include/x86_64-linux-musl'
build:musl --copt='-isystem/usr/lib/gcc/x86_64-linux-gnu/6/include'
#build:musl --copt='-isystem/usr/include/clang/3.8/include'

# Enable trace logging for toxcore.
build --per_file_copt='//c-toxcore/@-DMIN_LOGGER_LEVEL=LOGGER_LEVEL_TRACE'
build --per_file_copt='//c-toxcore/@-DUSE_STDERR_LOGGER'

# Use this config to put tox into a test network that speaks an incompatible
# protocol (all packet ids are shifted).
build:testnet --per_file_copt='//c-toxcore[:/]@-DUSE_TEST_NETWORK=1'

# Always build debugging tools with debug info.
build:gnulike --per_file_copt='//tools/debug[:/]@-g'

test --test_output=errors
test --test_verbose_timeout_warnings=true

# This breaks Kythe.
#build --distinct_host_configuration=false

##############################################################################
#
# :: Warning flags (some compiler-specific).
#
##############################################################################

build:gnulike --copt='-Wall'
build:gnulike --copt='-Werror'
build:gnulike --copt='-Wformat'
build:gnulike --copt='-Wformat-security'

build:gnulike --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-ftrapv'
build:gnulike --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-pedantic'

build:gnulike --cxxopt='-std=c++14'
build:gnulike --conlyopt='-std=c99'

# Cython code isn't very clean.
build:clang --per_file_copt='//py_toxcore_c[:/]@-Wno-conditional-uninitialized'
build:clang --per_file_copt='//py_toxcore_c[:/]@-Wno-extra-semi-stmt'
build:clang --per_file_copt='//py_toxcore_c[:/]@-Wno-undef'
build:clang --per_file_copt='//py_toxcore_c[:/]@-Wno-unused-macros'
build:clang --per_file_copt='//py_toxcore_c[:/]@-Wno-used-but-marked-unused'
build:gnulike --per_file_copt='//py_toxcore_c[:/]@-Wno-cast-align'
build:gnulike --per_file_copt='//py_toxcore_c[:/]@-Wno-shadow'

# GCC warning flags.
#build:gcc --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins).*\\.c$@-Wsuggest-attribute=const'
#build:gcc --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins).*\\.c$@-Wsuggest-attribute=pure'
build:gcc --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins).*\\.c$@-Wold-style-declaration,-Wold-style-definition'
build:gcc --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins).*\\.(cc|cpp)$@-Wzero-as-null-pointer-constant'

# TODO(iphydf): Fix these.
build:gcc --per_file_copt='//toxins/tox_shell@-Wno-unused-result'
build:gnulike --per_file_copt='//toxins/toxvpn:import/src/main.cpp@-Wno-unused-result'
build:gnulike --per_file_copt='//toxins/toxvpn:import/src/toxvpn-remote.cpp@-Wno-unused-result'

# Clang warning flags.
build:clang --copt='-Wthread-safety-analysis'
build:clang --copt='-Wno-error=thread-safety-analysis'
build:clang --copt='-Wno-error=inconsistent-missing-override'
# This isn't a useful warning and makes code uglier.
build:clang --copt='-Wno-missing-braces'
# This warning triggers when system header macros introduce reserved
# identifiers, which is exactly the point of them being reserved.
build:clang --copt='-Wno-reserved-identifier'

build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Weverything'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-c++98-compat'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-c++98-compat-pedantic'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-conversion'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-covered-switch-default'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-disabled-macro-expansion'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-documentation-deprecated-sync'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-missing-field-initializers'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-padded'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-reserved-id-macro'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-unused-parameter'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-vla'

build:clang --per_file_copt='//c-toxcore/toxav:video.c@-Wno-used-but-marked-unused'
build:clang --per_file_copt='//c-toxcore/super_donators@-w'
build:clang --per_file_copt='_test\\.(cc|cpp)$@-Wno-global-constructors,-Wno-exit-time-destructors'
build:clang --per_file_copt='_test\\.(cc|cpp)$@-Wno-c99-extensions'
build:clang --per_file_copt='_test\\.(cc|cpp)$@-Wno-zero-as-null-pointer-constant'
build:clang --per_file_copt='_test\\.cpp$@-Wno-extra-semi-stmt'
build:clang --per_file_copt='_test\\.cpp$@-Wno-redundant-parens'
build:clang --per_file_copt='_test\\.cpp$@-Wno-undefined-reinterpret-cast'
build:clang --per_file_copt='rcc_.*\\.cpp$@-Wno-global-constructors,-Wno-exit-time-destructors'
build:clang --per_file_copt='moc_.*\\.cpp$@-Wno-deprecated'
build:clang --per_file_copt='moc_.*\\.cpp$@-Wno-extra-semi-stmt'
build:clang --per_file_copt='moc_.*\\.cpp$@-Wno-gnu-zero-variadic-macro-arguments'
build:clang --per_file_copt='moc_.*\\.cpp$@-Wno-redundant-parens'
build:clang --per_file_copt='moc_.*\\.cpp$@-Wno-undefined-reinterpret-cast'

build:gnulike --per_file_copt='//jvm-toxcore-c@-Wno-error=switch'
build:gnulike --per_file_copt='//jvm-toxcore-c@-Wno-parentheses'

# TODO(iphydf): Fix these.
build:clang --per_file_copt='//c-toxcore@-Wno-sign-compare'
build:clang --per_file_copt='//jvm-toxcore-c@-Wno-global-constructors,-Wno-exit-time-destructors'
build:clang --per_file_copt='//qtox@-Wno-comma'
build:clang --per_file_copt='//qtox@-Wno-deprecated'
build:clang --per_file_copt='//qtox@-Wno-documentation'
build:clang --per_file_copt='//qtox@-Wno-documentation-unknown-command'
build:clang --per_file_copt='//qtox@-Wno-double-promotion'
build:clang --per_file_copt='//qtox@-Wno-duplicate-enum'
build:clang --per_file_copt='//qtox@-Wno-float-equal'
build:clang --per_file_copt='//qtox@-Wno-global-constructors,-Wno-exit-time-destructors'
build:clang --per_file_copt='//qtox@-Wno-implicit-fallthrough'
build:clang --per_file_copt='//qtox@-Wno-inconsistent-missing-destructor-override'
build:clang --per_file_copt='//qtox@-Wno-missing-noreturn'
build:clang --per_file_copt='//qtox@-Wno-missing-prototypes'
build:clang --per_file_copt='//qtox@-Wno-non-virtual-dtor'
build:clang --per_file_copt='//qtox@-Wno-error=range-loop-analysis'
build:clang --per_file_copt='//qtox@-Wno-shadow'
build:clang --per_file_copt='//qtox@-Wno-shadow-field'
build:clang --per_file_copt='//qtox@-Wno-suggest-destructor-override'
build:clang --per_file_copt='//qtox@-Wno-suggest-override'
build:clang --per_file_copt='//qtox@-Wno-switch-enum'
build:clang --per_file_copt='//qtox@-Wno-undef'
build:clang --per_file_copt='//qtox@-Wno-unreachable-code-break'
build:clang --per_file_copt='//qtox@-Wno-unreachable-code-return'
build:clang --per_file_copt='//qtox@-Wno-unused-macros'
build:clang --per_file_copt='//qtox@-Wno-used-but-marked-unused'
build:clang --per_file_copt='//qtox@-Wno-weak-vtables'
build:clang --per_file_copt='//toxic@-Wno-cast-align'
build:clang --per_file_copt='//toxic@-Wno-cast-qual'
build:clang --per_file_copt='//toxic@-Wno-format-nonliteral'
build:clang --per_file_copt='//toxic@-Wno-implicit-fallthrough'
build:clang --per_file_copt='//toxic@-Wno-missing-noreturn'
build:clang --per_file_copt='//toxic@-Wno-missing-prototypes'
build:clang --per_file_copt='//toxic@-Wno-missing-variable-declarations'
build:clang --per_file_copt='//toxic@-Wno-shadow'
build:clang --per_file_copt='//toxic@-Wno-sign-compare'
build:clang --per_file_copt='//toxic@-Wno-switch-enum'
build:clang --per_file_copt='//toxic@-Wno-undef'
build:clang --per_file_copt='//toxic@-Wno-unreachable-code-return'
build:clang --per_file_copt='//toxic@-Wno-unused-macros'
build:clang --per_file_copt='//toxins@-Wno-cast-align'
build:clang --per_file_copt='//toxins@-Wno-global-constructors,-Wno-exit-time-destructors'
build:clang --per_file_copt='//toxins@-Wno-missing-prototypes'
build:clang --per_file_copt='//toxins@-Wno-missing-variable-declarations'
build:clang --per_file_copt='//toxins@-Wno-non-virtual-dtor'
build:clang --per_file_copt='//toxins@-Wno-old-style-cast'
build:clang --per_file_copt='//toxins@-Wno-sign-compare'
build:clang --per_file_copt='//toxins@-Wno-switch-enum'
build:clang --per_file_copt='//toxins@-Wno-unreachable-code'
build:clang --per_file_copt='//toxins@-Wno-unreachable-code-return'
build:gcc --per_file_copt='//c-toxcore@-Wno-error=pedantic'
build:gcc --per_file_copt='//toxic@-Wno-format-overflow'
build:gcc --per_file_copt='//toxic@-Wno-format-truncation'
build:gcc --per_file_copt='//toxins@-Wno-format-overflow'
build:windows --per_file_copt='//qtox@/wd4068'  # unknown pragma

# Ignore warnings for Go generated internal files and external libraries.
build:gnulike --per_file_copt='/go_default_library%@-w'

# Ignore warnings for protobuf generated files.
build:gnulike --per_file_copt='\\.pb\\.cc$@-w'

# Disable some clang warnings on ffmpeg.
build:clang --per_file_copt='external/ffmpeg[:/]@-Wno-bool-operation'
build:clang --per_file_copt='external/ffmpeg[:/]@-Wno-braced-scalar-init'
build:clang --per_file_copt='external/ffmpeg[:/]@-Wno-implicit-const-int-float-conversion'
build:clang --per_file_copt='external/ffmpeg[:/]@-Wno-incompatible-pointer-types-discards-qualifiers'
build:clang --per_file_copt='external/ffmpeg[:/]@-Wno-pointer-bool-conversion'
build:clang --per_file_copt='external/ffmpeg[:/]@-Wno-shorten-64-to-32'
build:clang --per_file_copt='external/ffmpeg[:/]@-Wno-sometimes-uninitialized'
build:clang --per_file_copt='external/ffmpeg[:/]@-Wno-string-plus-int'
build:clang --per_file_copt='external/ffmpeg[:/]@-Wno-tautological-constant-out-of-range-compare'
build:clang --per_file_copt='external/portaudio[:/]@-Wno-implicit-const-int-float-conversion'
build:gcc --per_file_copt='external/ffmpeg[:/]@-Wno-bool-operation'
build:gcc --per_file_copt='external/ffmpeg[:/]@-Wno-discarded-qualifiers'
build:gcc --per_file_copt='external/ffmpeg[:/]@-Wno-format-truncation'
build:gcc --per_file_copt='external/ffmpeg[:/]@-Wno-int-in-bool-context'
build:gcc --per_file_copt='external/ffmpeg[:/]@-Wno-maybe-uninitialized'
build:gcc --per_file_copt='external/ffmpeg[:/]@-Wno-stringop-truncation'
build:gcc --per_file_copt='external/haskell_cryptohash@-Wno-format-overflow'
build:gcc --per_file_copt='external/yasm[:/]@-Wno-stringop-truncation'
build:gcc --per_file_copt='external/yasm[:/]@-Wno-tautological-compare'
build:gnulike --per_file_copt='external/libvpx[:/]@-Wno-unused-but-set-variable'
build:gnulike --per_file_copt='external/portaudio[:/]@-Wno-unused-but-set-variable'
build:gnulike --per_file_copt='external/sdl2[:/]@-Wno-unused-but-set-variable'
build:gnulike --per_file_copt='external/tcl[:/]@-Wno-typedef-redefinition'
build:gnulike --per_file_copt='external/tcl[:/]@-Wno-unused-but-set-variable'
build:gnulike --per_file_copt='external/xcb[:/]@-Wno-unused-but-set-variable'
build:gnulike --per_file_copt='external/yasm[:/]@-Wno-misleading-indentation'
build:gnulike --per_file_copt='external/yasm[:/]@-Wno-unused-but-set-variable'

build:windows --copt='/WX' --linkopt='/WX'
build:windows --per_file_copt='^external/libqrencode[:/]@/wd4273'
#build:windows --per_file_copt='//c-toxcore[:/]@/Za'
build:windows --per_file_copt='//c-toxcore[:/]@/permissive-'
build:windows --per_file_copt='//c-toxcore[:/]@/W4'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4018'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4100'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4127'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4200'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4204'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4244'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4245'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4267'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4310'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4389'

#build:windows --per_file_copt='//qtox[:/]@/Za'
build:windows --per_file_copt='//qtox[:/]@/permissive-'
build:windows --per_file_copt='//qtox[:/]@/W4'
build:windows --per_file_copt='//qtox[:/]@/wd4065'
build:windows --per_file_copt='//qtox[:/]@/wd4100'
build:windows --per_file_copt='//qtox[:/]@/wd4127'
build:windows --per_file_copt='//qtox[:/]@/wd4244'
build:windows --per_file_copt='//qtox[:/]@/wd4245'
build:windows --per_file_copt='//qtox[:/]@/wd4267'
build:windows --per_file_copt='//qtox[:/]@/wd4305'
build:windows --per_file_copt='//qtox[:/]@/wd4456'
build:windows --per_file_copt='//qtox[:/]@/wd4457'
build:windows --per_file_copt='//qtox[:/]@/wd4458'
build:windows --per_file_copt='//qtox[:/]@/wd4459'
build:windows --per_file_copt='//qtox[:/]@/wd4566'
build:windows --per_file_copt='//qtox[:/]@/wd4702'

# Fix these:
build:windows --per_file_copt='//qtox[:/]@/wd4701'
build:windows --per_file_copt='//qtox[:/]@/wd4703'

build:windows --linkopt='/GUARD:CF'
# Could be WINDOWS, but we like our console.
build:windows --linkopt='/SUBSYSTEM:CONSOLE'

##############################################################################
#
# :: System/compiler-specific optional flags.
#
##############################################################################

build:freebsd --config=gnulike
build:linux --config=gnulike
build:macos --config=gnulike

# Linux-specific flags.
build:linux --config=gnuld
# Gives lots of warnings with sanitizers.
#build:linux --linkopt='-Wl,--detect-odr-violations'

# FreeBSD-specific flags.
build:freebsd --config=gnuld

# Flags for systems with GNU linker or compatible.
build:gnuld --linkopt='-Wl,-z,noexecstack'
#build:gnuld --linkopt='-Wl,--fatal-warnings'
build:gnuld --linkopt='-Wl,--warn-common'
build:gnuld --linkopt='-fPIE'
# Not enabled, because (at least - I gave up when trying to fix libvpx)
# libsodium and libvpx assembly code doesn't define noexecstack.
#build:gnuld --linkopt='-Wl,--warn-execstack'

# MSVC has a header that disallows the above nullptr thing. Defining the
# following symbol disables that check.
build:windows --per_file_copt='//c-toxcore@/D_ALLOW_KEYWORD_MACROS'

# Continuous Integration platforms tend to not have IPv6.
build:ci --per_file_copt='//c-toxcore/auto_tests@-DUSE_IPV6=0'
build:ci --curses=no
build:ci --jobs=50
build:ci --show_timestamps
build:ci --verbose_failures

# The "rbe" config sets up the toolchains for clang-14.
build:rbe --config=clang

# Docker build doesn't support IPv6.
build:docker --config=ci

try-import %workspace%/.bazelrc.local

# vim:set tw=120
