# Global bazel options for toktok-stack.

##############################################################################
#
# :: Bazel UI flags and globally enabled features.
#
##############################################################################

build --color=yes
build --show_progress_rate_limit=0.5

build --features=public_proto_imports
build --features=pie
build --features=module_maps
build --features=header_modules
build --features=use_header_modules
build --features=layering_check
build --features=parse_headers
build --features=cc_include_scanning

build --check_licenses=true
build --experimental_import_deps_checking=warning
build --process_headers_in_dependencies
build --strict_filesets=true

##############################################################################
#
# :: Execution strategy flags.
#
##############################################################################

# Use persistent workers for Java and Scala compilers (much faster).
build --strategy=Javac=worker
build --strategy=Scalac=worker

# Use remote caching. This is disabled by default, because unless you have a
# fairly fast connection (like on our CI systems), this is not very useful.
#build:remote --remote_cache=code.tox.chat:8980
build:remote --remote_http_cache=https://code.tox.chat/bazel

# Use remote execution. Disabled by default, because we don't want everyone to
# use the remote executors (and they might be down sometimes).
build:remote-exec --remote_executor=code.tox.chat:8980

build:remote-exec --genrule_strategy=remote
build:remote-exec --spawn_strategy=remote
build:remote-exec --strategy=Javac=remote

# Use local docker sandbox. This is a lot slower than linux-sandbox, but is more
# hermetic and reproducible, so it is used on our CI.
build:docker-sandbox --experimental_docker_image=toxchat/builder:latest
build:docker-sandbox --experimental_docker_verbose
build:docker-sandbox --experimental_enable_docker_sandbox
build:docker-sandbox --define=EXECUTOR=remote

build:docker-sandbox --crosstool_top=@bazel_toolchains//configs/ubuntu16_04_clang/11.0.0/bazel_2.2.0/cc:toolchain
build:docker-sandbox --host_javabase=@bazel_toolchains//configs/ubuntu16_04_clang/11.0.0/bazel_2.2.0/java:jdk
build:docker-sandbox --javabase=@bazel_toolchains//configs/ubuntu16_04_clang/11.0.0/bazel_2.2.0/java:jdk

build:docker-sandbox --genrule_strategy=docker
build:docker-sandbox --spawn_strategy=docker
build:docker-sandbox --strategy=Javac=docker

# Use sandboxfs, which is much faster than docker, but slightly less hermetic.
build:sandboxfs --experimental_use_sandboxfs=auto

##############################################################################
#
# :: Extra strictness in rule execution.
#
##############################################################################

build --strict_java_deps=error
build --experimental_guard_against_concurrent_changes
build --experimental_local_memory_estimate
#build --experimental_ninja_actions
build --experimental_run_validations
build --experimental_repository_cache_hardlinks
build --experimental_strict_fileset_output
# TODO(https://github.com/tweag/rules_haskell/issues/1265): Enable this once rules_haskell supports it.

# https://docs.bazel.build/versions/master/skylark/backward-compatibility.html
#build --all_incompatible_changes
build --incompatible_remote_symlinks
build --incompatible_remove_local_resources
build --incompatible_symlinked_sandbox_expands_tree_artifacts_in_runfiles_tree
build --incompatible_disable_expand_if_all_available_in_flag_set
build --incompatible_dont_enable_host_nonhost_crosstool_features
build --incompatible_make_thinlto_command_lines_standalone
build --incompatible_prohibit_aapt1
build --incompatible_remove_cpu_and_compiler_attributes_from_cc_toolchain
build --incompatible_remove_legacy_whole_archive
build --incompatible_require_ctx_in_configure_features
build --incompatible_merge_genfiles_directory
build --noincompatible_use_platforms_repo_for_constraints
build --noincompatible_disable_native_android_rules
build --incompatible_validate_top_level_header_inclusions
build --incompatible_allow_python_version_transitions
build --incompatible_always_check_depset_elements
build --incompatible_bzl_disallow_load_after_statement
build --incompatible_depset_for_libraries_to_link_getter
build --incompatible_depset_union
build --incompatible_disable_deprecated_attr_params
build --incompatible_disable_depset_items
build --incompatible_disable_target_provider_fields
build --incompatible_disable_third_party_license_checking
#build --incompatible_disallow_empty_glob
build --incompatible_disallow_legacy_javainfo
build --incompatible_disallow_legacy_py_provider
build --noincompatible_disallow_struct_provider_syntax
build --incompatible_new_actions_api
build --incompatible_no_attr_license
build --noincompatible_no_implicit_file_export
build --incompatible_no_output_attr_default
build --noincompatible_no_rule_outputs_param
build --incompatible_no_support_tools_in_action_inputs
build --incompatible_no_target_output_group
build --incompatible_remove_enabled_toolchain_types
build --incompatible_remove_old_python_version_api
build --incompatible_restrict_named_params
build --incompatible_restrict_string_escapes
build --incompatible_run_shell_command_string
build --incompatible_use_cc_configure_from_rules_cc
build --incompatible_visibility_private_attributes_at_definition
build --incompatible_do_not_split_linking_cmdline
build --incompatible_enable_profile_by_default
build --incompatible_remove_binary_profile
build --incompatible_default_to_explicit_init_py
build --incompatible_py2_outputs_are_suffixed
build --incompatible_py3_is_default
build --incompatible_use_python_toolchains
#build --incompatible_remote_results_ignore_disk
build --incompatible_strict_action_env

# rules_apple uses old style list commands.
# TODO(https://github.com/bazelbuild/rules_apple/issues/736): Remove.
build:osx --noincompatible_run_shell_command_string

##############################################################################
#
# :: C/C++ compiler flags.
#
##############################################################################

#build --config=asan

# Debug mode.
build:debug -c dbg

# On Windows, we always generate debug info, and always compile with
# optimisation flags.
build:windows --config=release
build:windows --copt='/Z7'
#build:windows --copt='/UNDEBUG'
# Disable inlining of functions not marked as "inline".
build:windows --copt='/Ob1'
build:windows --linkopt='/DEBUG:FULL'

# Generate code to protect against Spectre variant 1.
#build:windows --copt='/Qspectre'

# Release mode.
build:release -c opt
# NDEBUG disables asserts.
#build:release --copt='-Wno-unused-variable'

# Address sanitizer (also with optimisation).
build:asan -c dbg
build:asan --copt="-O2"
build:asan --per_file_copt='^c-toxcore/.*@-fsanitize=address,-g'
build:asan --per_file_copt='^toxins/.*@-fsanitize=address,-g'
build:asan --per_file_copt='^qtox/.*@-fsanitize=address,-g'
build:asan --linkopt='-fsanitize=address'
build:asan --copt='-Wno-macro-redefined'

# Undefined behaviour sanitizer.
build:ubsan --copt='-fsanitize=undefined'
build:ubsan --linkopt='-fsanitize=undefined'

# Link-time optimization.
build:lto --copt='-flto'
build:lto --linkopt='-flto'

# This file breaks clang on OSX when compiled with -O2 or higher:
# fatal error: error in backend: Cannot emit physreg copy instruction
build:osx --per_file_copt='c-toxcore/toxcore/group.c$@-O1'

build:android --crosstool_top=//external:android/crosstool
build:android --cpu=armeabi-v7a
build:android --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:android --verbose_failures
build:android --copt="-Wno-unused-macros"

build:gnulike --per_file_copt='[-_]avx\\.c$@-mavx'
build:gnulike --per_file_copt='[-_]avx2\\.c$@-mavx2'
build:gnulike --per_file_copt='[-_]sse\\.c$@-mssse3,-msse4'
build:gnulike --per_file_copt='[-_]sse4\\.c$@-msse4'
build:gnulike --per_file_copt='[-_]sse41\\.c$@-msse4.1'
build:gnulike --per_file_copt='[-_]sse4_1\\.c$@-msse4.1'
build:gnulike --per_file_copt='[-_]ssse3\\.c$@-mssse3'

# Colour diagnostics, even though bazel uses non-tty pipes.
build:gnulike --copt='-fdiagnostics-color=always'

# ABI and source behaviour options.
build:gnulike --copt='-funsigned-char'
build:gnulike --cxxopt='-fno-exceptions'
build:gnulike --cxxopt='-fno-rtti'
build:gnulike --cxxopt='-DGOOGLE_PROTOBUF_NO_RTTI'

# Use musl instead of glibc.
build:musl --copt='-nostdinc'
build:musl --copt='-isystem/usr/include/c++/6'
build:musl --copt='-isystem/usr/include/x86_64-linux-gnu/c++/6'
build:musl --copt='-isystem/usr/include/x86_64-linux-musl'
build:musl --copt='-isystem/usr/lib/gcc/x86_64-linux-gnu/6/include'
#build:musl --copt='-isystem/usr/include/clang/3.8/include'

# Enable trace logging for toxcore.
build --per_file_copt='//c-toxcore/@-DMIN_LOGGER_LEVEL=LOGGER_LEVEL_TRACE'

test --test_output=errors
test --test_verbose_timeout_warnings=true

#build --distinct_host_configuration=false

##############################################################################
#
# :: Warning flags (some compiler-specific).
#
##############################################################################

build:gnulike --copt='-Wall'
build:gnulike --copt='-Werror'
build:gnulike --copt='-Wformat'
build:gnulike --copt='-Wformat-security'

build:gnulike --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-pedantic'

build:gnulike --cxxopt='-std=c++14'
build:gnulike --conlyopt='-std=c99'

# GCC warning flags.
#build:gcc --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins).*\\.c$@-Wsuggest-attribute=const'
#build:gcc --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins).*\\.c$@-Wsuggest-attribute=pure'
build:gcc --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins).*\\.c$@-Wold-style-declaration,-Wold-style-definition'
build:gcc --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins).*\\.(cc|cpp)$@-Wzero-as-null-pointer-constant'

# TODO(iphydf): Fix these.
build:gcc --per_file_copt='//toxins/tox_shell@-Wno-unused-result'
build:gnulike --per_file_copt='//toxins/toxvpn:import/src/main.cpp@-Wno-unused-result'
build:gnulike --per_file_copt='//toxins/toxvpn:import/src/toxvpn-remote.cpp@-Wno-unused-result'

# Clang warning flags.
build:clang --copt='-Wthread-safety-analysis'
build:clang --copt='-Wno-error=thread-safety-analysis'
build:clang --copt='-Wno-error=inconsistent-missing-override'

build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-ftrapv'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Weverything'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-c++98-compat'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-c++98-compat-pedantic'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-conversion'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-covered-switch-default'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-disabled-macro-expansion'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-documentation-deprecated-sync'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-missing-field-initializers'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-padded'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-reserved-id-macro'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-unused-parameter'
build:clang --per_file_copt='//(c-|go-|hs-|jvm-|py_|qtox|toxic|toxins)@-Wno-vla'

build:clang --per_file_copt='//c-toxcore/toxav:video.c@-Wno-used-but-marked-unused'
build:clang --per_file_copt='//c-toxcore/super_donators@-w'
build:clang --per_file_copt='_test\\.(cc|cpp)$@-Wno-global-constructors,-Wno-exit-time-destructors'
build:clang --per_file_copt='_test\\.(cc|cpp)$@-Wno-c99-extensions'
build:clang --per_file_copt='_test\\.(cc|cpp)$@-Wno-zero-as-null-pointer-constant'
build:clang --per_file_copt='_test\\.cpp$@-Wno-redundant-parens'
build:clang --per_file_copt='_test\\.cpp$@-Wno-undefined-reinterpret-cast'
build:clang --per_file_copt='rcc_.*\\.cpp$@-Wno-global-constructors,-Wno-exit-time-destructors'
build:clang --per_file_copt='moc_.*\\.cpp$@-Wno-deprecated'
build:clang --per_file_copt='moc_.*\\.cpp$@-Wno-gnu-zero-variadic-macro-arguments'
build:clang --per_file_copt='moc_.*\\.cpp$@-Wno-redundant-parens'
build:clang --per_file_copt='moc_.*\\.cpp$@-Wno-undefined-reinterpret-cast'

build:gnulike --per_file_copt='//jvm-toxcore-c@-Wno-error=switch'
build:gnulike --per_file_copt='//jvm-toxcore-c@-Wno-parentheses'

# TODO(iphydf): Fix these.
build:clang --per_file_copt='//c-toxcore@-Wno-sign-compare'
build:clang --per_file_copt='//jvm-toxcore-c@-Wno-global-constructors,-Wno-exit-time-destructors'
build:clang --per_file_copt='//qtox@-Wno-comma'
build:clang --per_file_copt='//qtox@-Wno-deprecated'
build:clang --per_file_copt='//qtox@-Wno-documentation'
build:clang --per_file_copt='//qtox@-Wno-documentation-unknown-command'
build:clang --per_file_copt='//qtox@-Wno-double-promotion'
build:clang --per_file_copt='//qtox@-Wno-duplicate-enum'
build:clang --per_file_copt='//qtox@-Wno-float-equal'
build:clang --per_file_copt='//qtox@-Wno-global-constructors,-Wno-exit-time-destructors'
build:clang --per_file_copt='//qtox@-Wno-implicit-fallthrough'
build:clang --per_file_copt='//qtox@-Wno-inconsistent-missing-destructor-override'
build:clang --per_file_copt='//qtox@-Wno-missing-braces'
build:clang --per_file_copt='//qtox@-Wno-missing-noreturn'
build:clang --per_file_copt='//qtox@-Wno-missing-prototypes'
build:clang --per_file_copt='//qtox@-Wno-non-virtual-dtor'
build:clang --per_file_copt='//qtox@-Wno-error=range-loop-analysis'
build:clang --per_file_copt='//qtox@-Wno-shadow'
build:clang --per_file_copt='//qtox@-Wno-shadow-field'
build:clang --per_file_copt='//qtox@-Wno-switch-enum'
build:clang --per_file_copt='//qtox@-Wno-undef'
build:clang --per_file_copt='//qtox@-Wno-unreachable-code-break'
build:clang --per_file_copt='//qtox@-Wno-unreachable-code-return'
build:clang --per_file_copt='//qtox@-Wno-unused-macros'
build:clang --per_file_copt='//qtox@-Wno-used-but-marked-unused'
build:clang --per_file_copt='//qtox@-Wno-weak-vtables'
build:clang --per_file_copt='//toxic@-Wno-cast-align'
build:clang --per_file_copt='//toxic@-Wno-cast-qual'
build:clang --per_file_copt='//toxic@-Wno-format-nonliteral'
build:clang --per_file_copt='//toxic@-Wno-missing-noreturn'
build:clang --per_file_copt='//toxic@-Wno-missing-prototypes'
build:clang --per_file_copt='//toxic@-Wno-missing-variable-declarations'
build:clang --per_file_copt='//toxic@-Wno-shadow'
build:clang --per_file_copt='//toxic@-Wno-sign-compare'
build:clang --per_file_copt='//toxic@-Wno-switch-enum'
build:clang --per_file_copt='//toxic@-Wno-undef'
build:clang --per_file_copt='//toxic@-Wno-unreachable-code-return'
build:clang --per_file_copt='//toxic@-Wno-unused-macros'
build:clang --per_file_copt='//toxins@-Wno-cast-align'
build:clang --per_file_copt='//toxins@-Wno-global-constructors,-Wno-exit-time-destructors'
build:clang --per_file_copt='//toxins@-Wno-missing-prototypes'
build:clang --per_file_copt='//toxins@-Wno-missing-variable-declarations'
build:clang --per_file_copt='//toxins@-Wno-non-virtual-dtor'
build:clang --per_file_copt='//toxins@-Wno-old-style-cast'
build:clang --per_file_copt='//toxins@-Wno-sign-compare'
build:clang --per_file_copt='//toxins@-Wno-switch-enum'
build:clang --per_file_copt='//toxins@-Wno-unreachable-code'
build:clang --per_file_copt='//toxins@-Wno-unreachable-code-return'
build:windows --per_file_copt='//qtox@/wd4068'  # unknown pragma

# Ignore warnings for Go generated internal files and external libraries.
build:gnulike --per_file_copt='/go_default_library%@-w'

# Ignore warnings for protobuf generated files.
build:gnulike --per_file_copt='\\.pb\\.cc$@-w'

# Haskell rules pass '-headerpad_max_install_names' on compile and link, but
# it's only needed on link.
# TODO(https://github.com/tweag/rules_haskell/issues/1295): Remove.
#build:gnulike --copt='-Wno-unused-command-line-argument'

build:windows --copt='/WX' --linkopt='/WX'
build:windows --per_file_copt='^external/libqrencode[:/]@/wd4273'
#build:windows --per_file_copt='//c-toxcore[:/]@/Za'
build:windows --per_file_copt='//c-toxcore[:/]@/permissive-'
build:windows --per_file_copt='//c-toxcore[:/]@/W4'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4018'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4100'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4127'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4200'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4204'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4244'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4245'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4267'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4310'
build:windows --per_file_copt='//c-toxcore[:/]@/wd4389'

#build:windows --per_file_copt='//qtox[:/]@/Za'
build:windows --per_file_copt='//qtox[:/]@/permissive-'
build:windows --per_file_copt='//qtox[:/]@/W4'
build:windows --per_file_copt='//qtox[:/]@/wd4065'
build:windows --per_file_copt='//qtox[:/]@/wd4100'
build:windows --per_file_copt='//qtox[:/]@/wd4127'
build:windows --per_file_copt='//qtox[:/]@/wd4244'
build:windows --per_file_copt='//qtox[:/]@/wd4245'
build:windows --per_file_copt='//qtox[:/]@/wd4267'
build:windows --per_file_copt='//qtox[:/]@/wd4305'
build:windows --per_file_copt='//qtox[:/]@/wd4456'
build:windows --per_file_copt='//qtox[:/]@/wd4457'
build:windows --per_file_copt='//qtox[:/]@/wd4458'
build:windows --per_file_copt='//qtox[:/]@/wd4459'
build:windows --per_file_copt='//qtox[:/]@/wd4566'
build:windows --per_file_copt='//qtox[:/]@/wd4702'

# Fix these:
build:windows --per_file_copt='//qtox[:/]@/wd4701'
build:windows --per_file_copt='//qtox[:/]@/wd4703'

build:windows --linkopt='/GUARD:CF'
# Could be WINDOWS, but we like our console.
build:windows --linkopt='/SUBSYSTEM:CONSOLE'

##############################################################################
#
# :: System/compiler-specific optional flags.
#
##############################################################################

build:gcc --config=gnulike
build:clang --config=gnulike

# Linux-specific flags.
build:linux --config=gnuld
build:linux --linkopt='-Wl,--detect-odr-violations'

# FreeBSD-specific flags.
build:freebsd --config=gnuld

# Flags for systems with GNU linker or compatible.
build:gnuld --linkopt='-Wl,-z,noexecstack'
#build:gnuld --linkopt='-Wl,--fatal-warnings'
build:gnuld --linkopt='-Wl,--warn-common'
# Not enabled, because (at least - I gave up when trying to fix libvpx)
# libsodium and libvpx assembly code doesn't define noexecstack.
#build:gnuld --linkopt='-Wl,--warn-execstack'

# MSVC has a header that disallows the above nullptr thing. Defining the
# following symbol disables that check.
build:windows --per_file_copt="//c-toxcore@/D_ALLOW_KEYWORD_MACROS"

try-import %workspace%/.bazelrc.local

# vim:set tw=120
