# Avoid putting large local files into the Docker image.
# Also avoid some files that are never needed in any of the Docker or
# submodule CI builds. When using the dev container, we expect to mount the
# user's local workspace directory so these excluded files will be present.
/bazel-*
.github
**/*.gz
**/*.log
**/*.jar
**/*.tar
**/.bazelrc.local
**/.cache
**/.dart_tool
**/.git
**/.mypy_cache
**/.stack-work
**/.vscode
**/__pycache__
**/_build
**/_install
**/build
**/compile_commands.json
**/wip
