# Build artifacts.
/.vs
/.stack-work
/stack.yaml.lock
/bazel-*
/cov-analysis*
*.jar
*.tar

# Work-in-progress directory.
/wip

# Editor temporary files.
*.swp
.DS_Store

# Local bazel settings per developer.
/.bazelrc.local
