# Build artifacts.
/.cache
/.clangd
/.vs
/.vscode
/.stack-work
/stack.yaml.lock
/bazel-*
/cov-analysis*
/toolchain
*.jar
*.tar
__pycache__
.mypy_cache
compile_commands.json

# Work files for tools/debug/run_mallocfail.
mallocfail_hashes*

# Work-in-progress directory.
/wip

# Editor temporary files.
*.swp
.DS_Store

# Local bazel settings per developer.
/.bazelrc.local
