# Build artifacts.
/.vs
/.stack-work
/stack.yaml.lock
/bazel-*
/cov-analysis*
/.mypy_cache
*.jar
*.tar
__pycache__

# Work files for tools/debug/run_mallocfail.
mallocfail_hashes*

# Work-in-progress directory.
/wip

# Editor temporary files.
*.swp
.DS_Store

# Local bazel settings per developer.
/.bazelrc.local
