[submodule "c-opus"]
	path = c-opus
	url = https://github.com/xiph/opus
[submodule "c-sodium"]
	path = c-sodium
	url = https://github.com/jedisct1/libsodium
[submodule "c-vpx"]
	path = c-vpx
	url = https://github.com/webmproject/libvpx
[submodule "hs-toxcore-c"]
	path = hs-toxcore-c
	url = https://github.com/TokTok/hs-toxcore-c
[submodule "hs-msgpack"]
	path = hs-msgpack
	url = https://github.com/TokTok/hs-msgpack
[submodule "hs-msgpack-rpc"]
	path = hs-msgpack-rpc
	url = https://github.com/TokTok/hs-msgpack-rpc
[submodule "hs-toxcore"]
	path = hs-toxcore
	url = https://github.com/TokTok/hs-toxcore
[submodule "qtox"]
	path = qtox
	url = https://github.com/TokTok/qtox
[submodule "apidsl"]
	path = apidsl
	url = https://github.com/TokTok/apidsl
[submodule "c-toxcore"]
	path = c-toxcore
	url = https://github.com/TokTok/toxcore
[submodule "c-msgpack"]
	path = c-msgpack
	url = https://github.com/msgpack/msgpack-c
[submodule "jvm-toxcore-c"]
	path = jvm-toxcore-c
	url = https://github.com/TokTok/jvm-toxcore-c
[submodule "dockerfiles"]
	path = dockerfiles
	url = https://github.com/TokTok/dockerfiles
[submodule "tokstyle"]
	path = tokstyle
	url = https://github.com/TokTok/tokstyle
[submodule "py-toxcore-c"]
	path = py-toxcore-c
	url = https://github.com/TokTok/py-toxcore-c
[submodule "js-toxcore-c"]
	path = js-toxcore-c
	url = https://github.com/TokTok/js-toxcore-c
[submodule "jvm-linters"]
	path = jvm-linters
	url = https://github.com/TokTok/jvm-linters
[submodule "jvm-macros"]
	path = jvm-macros
	url = https://github.com/TokTok/jvm-macros
[submodule "jvm-sbt-plugins"]
	path = jvm-sbt-plugins
	url = https://github.com/TokTok/jvm-sbt-plugins
[submodule "jvm-toxcore-api"]
	path = jvm-toxcore-api
	url = https://github.com/TokTok/jvm-toxcore-api
[submodule "c-toxcore-hs"]
	path = c-toxcore-hs
	url = https://github.com/TokTok/c-toxcore-hs
[submodule "toktok-android"]
	path = toktok-android
	url = https://github.com/TokTok/toktok-android
[submodule "semdoc"]
	path = semdoc
	url = https://github.com/TokTok/semdoc
[submodule "github-tools"]
	path = github-tools
	url = https://github.com/TokTok/github-tools
[submodule "website"]
	path = website
	url = https://github.com/TokTok/website
[submodule "c-protobuf"]
	path = c-protobuf
	url = https://github.com/google/protobuf
[submodule "hs-schema"]
	path = hs-schema
	url = https://github.com/TokTok/hs-schema
