[submodule "apidsl"]
	path = apidsl
	url = https://github.com/TokTok/apidsl
[submodule "btox"]
	path = btox
	url = https://github.com/TokTok/bTox
[submodule "ci-tools"]
	path = ci-tools
	url = https://github.com/TokTok/ci-tools
[submodule "c-toxcore-hs"]
	path = c-toxcore-hs
	url = https://github.com/TokTok/c-toxcore-hs
[submodule "c-toxcore"]
	path = c-toxcore
	url = https://github.com/TokTok/c-toxcore
[submodule "dockerfiles"]
	path = dockerfiles
	url = https://github.com/TokTok/dockerfiles
[submodule "experimental"]
	path = experimental
	url = https://github.com/TokTok/experimental
[submodule "go-toxcore-c"]
	path = go-toxcore-c
	url = https://github.com/TokTok/go-toxcore-c
[submodule "hs-cimple"]
	path = hs-cimple
	url = https://github.com/TokTok/hs-cimple
[submodule "hs-github-tools"]
	path = hs-github-tools
	url = https://github.com/TokTok/hs-github-tools
[submodule "hs-msgpack-arbitrary"]
	path = hs-msgpack-arbitrary
	url = https://github.com/TokTok/hs-msgpack-arbitrary
[submodule "hs-msgpack-binary"]
	path = hs-msgpack-binary
	url = https://github.com/TokTok/hs-msgpack-binary
[submodule "hs-msgpack-persist"]
	path = hs-msgpack-persist
	url = https://github.com/TokTok/hs-msgpack-persist
[submodule "hs-msgpack-rpc-conduit"]
	path = hs-msgpack-rpc-conduit
	url = https://github.com/TokTok/hs-msgpack-rpc-conduit
[submodule "hs-msgpack-testsuite"]
	path = hs-msgpack-testsuite
	url = https://github.com/TokTok/hs-msgpack-testsuite
[submodule "hs-msgpack-types"]
	path = hs-msgpack-types
	url = https://github.com/TokTok/hs-msgpack-types
[submodule "hs-schema"]
	path = hs-schema
	url = https://github.com/TokTok/hs-schema
[submodule "hs-tokstyle"]
	path = hs-tokstyle
	url = https://github.com/TokTok/hs-tokstyle
[submodule "hs-toxcore-c"]
	path = hs-toxcore-c
	url = https://github.com/TokTok/hs-toxcore-c
[submodule "hs-toxcore"]
	path = hs-toxcore
	url = https://github.com/TokTok/hs-toxcore
[submodule "js-toxcore-c"]
	path = js-toxcore-c
	url = https://github.com/TokTok/js-toxcore-c
[submodule "py-toxcore-c"]
	path = py_toxcore_c
	url = https://github.com/TokTok/py-toxcore-c
[submodule "qtox"]
	path = qtox
	url = https://github.com/TokTok/qtox
[submodule "spec"]
	path = spec
	url = https://github.com/TokTok/spec
[submodule "tools/.github"]
	path = tools/.github
	url = https://github.com/TokTok/.github
[submodule "tools/toktok-fuzzer"]
	path = tools/toktok-fuzzer
	url = https://github.com/TokTok/toktok-fuzzer
[submodule "toxic"]
	path = toxic
	url = https://github.com/TokTok/toxic
[submodule "toxins"]
	path = toxins
	url = https://github.com/TokTok/toxins
[submodule "website"]
	path = website
	url = https://github.com/TokTok/website
