---
language: cpp
compiler: clang
dist: trusty

addons:
  apt:
    packages:
      - autopoint
      - libasound2-dev
      - libcv-dev
      - libhighgui-dev
      - libopenal-dev

before_install:
  - wget https://github.com/bazelbuild/bazel/releases/download/0.16.1/bazel-0.16.1-installer-linux-x86_64.sh
  - sha256sum -c tools/bazel-0.16.1-installer-linux-x86_64.sh.sha256
  - chmod +x bazel-0.16.1-installer-linux-x86_64.sh
  - ./bazel-0.16.1-installer-linux-x86_64.sh --user
  - export PATH=$HOME/bin:$PATH

install:
  - echo 'build --jobs=50 --curses=no --verbose_failures' >> $HOME/.bazelrc
  - echo 'build --config=linux' >> $HOME/.bazelrc
  - echo "build --config=$CC" >> $HOME/.bazelrc
  - echo 'build --config=remote' >> $HOME/.bazelrc
  - wget http://repo1.maven.org/maven2/org/bytedeco/javacpp-presets/ffmpeg/3.4.1-1.4/ffmpeg-3.4.1-1.4-linux-x86_64.jar -O third_party/javacpp/ffmpeg/jar/ffmpeg-3.4.1-1.4-linux-x86_64.jar
  - wget http://repo1.maven.org/maven2/org/bytedeco/javacpp-presets/opencv/3.4.0-1.4/opencv-3.4.0-1.4-linux-x86_64.jar -O third_party/javacpp/opencv/jar/opencv-3.4.0-1.4-linux-x86_64.jar
  - pip install --user yamllint

script: ./.travis.script

git:
  depth: 1
  submodules_depth: 5
