language: cpp
compiler: clang
dist: trusty

addons:
  apt:
    packages:
    - autopoint
    - libasound2-dev
    - libcv-dev
    - libhighgui-dev
    - libopenal-dev

cache:
  directories:
  - $HOME/.cache/bazel

before_install:
- rm -rf $HOME/.cache/bazel/_bazel_$USER/install
- wget https://github.com/bazelbuild/bazel/releases/download/0.11.0/bazel-0.11.0-without-jdk-installer-linux-x86_64.sh
- sha256sum -c tools/bazel-0.11.0-without-jdk-installer-linux-x86_64.sh.sha256
- chmod +x bazel-0.11.0-without-jdk-installer-linux-x86_64.sh
- ./bazel-0.11.0-without-jdk-installer-linux-x86_64.sh --user
- export PATH=$HOME/bin:$PATH

install:
- echo 'build --jobs=4 --curses=no --verbose_failures' >> $HOME/.bazelrc
- echo "import %workspace%/tools/bazelrc/linux-$CC" >> $HOME/.bazelrc
- wget http://repo1.maven.org/maven2/org/bytedeco/javacpp-presets/ffmpeg/3.4.1-1.4/ffmpeg-3.4.1-1.4-linux-x86_64.jar -O third_party/javacpp/ffmpeg/jar/ffmpeg-3.4.1-1.4-linux-x86_64.jar
- wget http://repo1.maven.org/maven2/org/bytedeco/javacpp-presets/opencv/3.4.0-1.4/opencv-3.4.0-1.4-linux-x86_64.jar -O third_party/javacpp/opencv/jar/opencv-3.4.0-1.4-linux-x86_64.jar

script: ./.travis.script

git:
  depth: 1
  submodules_depth: 5
