# Global bazel options for toktok-stack.

#build --config=asan

#build -c dbg
#build -c opt
#build --copt="-O3"
#build --copt="-march=native"

build --color=yes
build --show_progress_rate_limit=0.5

# https://docs.bazel.build/versions/master/skylark/backward-compatibility.html
# Disabled due to https://github.com/bazelbuild/bazel/issues/4718.
#build --all_incompatible_changes

build --features=public_proto_imports
build --features=pie
build --features=module_maps
build --features=header_modules
build --features=use_header_modules
build --features=layering_check
build --features=parse_headers
build --features=cc_include_scanning
build --process_headers_in_dependencies

build --per_file_copt=".*[-_]avx\.c@-mavx"
build --per_file_copt=".*[-_]avx2\.c@-mavx2"
build --per_file_copt=".*[-_]sse\.c@-mssse3,-msse4"
build --per_file_copt=".*[-_]sse4\.c@-msse4"
build --per_file_copt=".*[-_]sse41\.c@-msse4.1"
build --per_file_copt=".*[-_]sse4_1\.c@-msse4.1"
build --per_file_copt=".*[-_]ssse3\.c@-mssse3"

build --strict_java_deps=error

build --strategy=Scalac=worker
test --strategy=Scalac=worker

build --copt="-Werror"

# Address sanitizer.
build:asan -c dbg
build:asan --per_file_copt="c-toxcore/.*@-fsanitize=address,-g"
build:asan --per_file_copt="toxins/.*@-fsanitize=address,-g"
build:asan --linkopt="-fsanitize=address"

# Link-time optimization.
build:lto --copt="-flto"
build:lto --linkopt="-flto"

# XXX: Workaround for Go, because it can't deal with colours when compiling the
# stdlib. It doesn't look at per_file_copt, so we can't disable colours for the
# Go stdlib, but we can enable it for everything else.
#build --copt="-fdiagnostics-color=always"
build --per_file_copt=".*@-fdiagnostics-color=always"

# Enable trace logging for toxcore.
build --per_file_copt="c-toxcore/.*@-DMIN_LOGGER_LEVEL=LOGGER_LEVEL_TRACE,-DLOGGER_LEVEL_TRACE=LOG_TRACE"

build --copt="-Wall"
build --copt="-Wformat"
build --copt="-Wformat-security"

build --copt="-funsigned-char"

build --cxxopt="-fno-exceptions"
build --cxxopt="-fno-rtti"
build --cxxopt="-DGOOGLE_PROTOBUF_NO_RTTI"

# Use remote caching. This is disabled by default, because we can't actually
# afford to host this continuously. It's been tested, and works really well, so
# if you have your own remote cache, enable it here.
#startup --host_jvm_args=-Dbazel.DigestFunction=sha256
build:remote --spawn_strategy=remote
build:remote --strategy=Javac=remote
build:remote --strategy=Scalac=remote
build:remote --genrule_strategy=remote
build:remote --remote_rest_cache=https://bazel.herokuapp.com

# Use musl instead of glibc.
build:musl --copt="-nostdinc"
build:musl --copt="-isystem/usr/include/c++/6"
build:musl --copt="-isystem/usr/include/x86_64-linux-gnu/c++/6"
build:musl --copt="-isystem/usr/include/x86_64-linux-musl"
build:musl --copt="-isystem/usr/lib/gcc/x86_64-linux-gnu/6/include"
#build:musl --copt="-isystem/usr/include/clang/3.8/include"

test --test_output=errors

#build --distinct_host_configuration=false

#build --all_incompatible_changes
#build --incompatible_disallow_filetype=false
#build --incompatible_disallow_legacy_javainfo=false
#build --incompatible_package_name_is_a_function=false
#build --incompatible_new_actions_api=false
#build --incompatible_disallow_old_style_args_add=false
#build --incompatible_depset_union=false
#build --incompatible_depset_is_not_iterable=false
#build --incompatible_remove_native_http_archive=false

##############################################################################
#
# :: System/compiler-specific optional flags.
#
##############################################################################

# GCC warning flags.
build:gcc --copt="-Wall"

# Clang warning flags.
build:clang --copt="-Wthread-safety-analysis"
build:clang --copt="-Wno-error=thread-safety-analysis"

# Linux-specific flags.
build:linux --config=gnuld
build:linux --linkopt="-Wl,--detect-odr-violations"

# FreeBSD-specific flags.
build:freebsd --config=gnuld

# Flags for systems with GNU linker or compatible.
build:gnuld --linkopt="-Wl,-z,noexecstack"
build:gnuld --linkopt="-Wl,--fatal-warnings"
build:gnuld --linkopt="-Wl,--warn-common"
# Not enabled, because (at least - I gave up when trying to fix libvpx)
# libsodium and libvpx assembly code doesn't define noexecstack.
#build:gnuld --linkopt="-Wl,--warn-execstack"
