---
name: ci

# These checks only run on pull requests as they don't need to publish anything
# on push. See docker.yml for jobs that run on pushes.
on:
  pull_request:
    branches: [master]

jobs:
  docker-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Pull toxchat/toktok-stack:latest-third_party
        if: ${{ !contains(github.event.pull_request.title, 'chore(rebuild)') }}
        run: docker pull toxchat/toktok-stack:latest-third_party
      - name: Build toxchat/toktok-stack:latest-third_party
        run: docker build --cache-from=toxchat/toktok-stack:latest-third_party -t toxchat/toktok-stack:latest-third_party -f tools/built/src/Dockerfile.third_party .

      - name: Pull toxchat/toktok-stack:latest
        if: ${{ !contains(github.event.pull_request.title, 'chore(rebuild)') }}
        run: docker pull toxchat/toktok-stack:latest
      - name: Build toxchat/toktok-stack:latest
        run: docker build --cache-from=toxchat/toktok-stack:latest -t toxchat/toktok-stack:latest -f tools/built/src/Dockerfile .

      - name: Pull toxchat/toktok-stack:latest-release
        if: ${{ !contains(github.event.pull_request.title, 'chore(rebuild)') }}
        run: docker pull toxchat/toktok-stack:latest-release
      - name: Build toxchat/toktok-stack:latest-release
        run: docker build --cache-from=toxchat/toktok-stack:latest-release -t toxchat/toktok-stack:latest-release -f tools/built/src/Dockerfile.release .

      - name: Build and test the whole toktok-stack in release mode
        if: ${{ contains(github.event.pull_request.title, 'chore(deps)') }}
        run: tools/built/bazel_test release

  buildifier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Install
        run: |
          wget -O buildifier https://github.com/bazelbuild/buildtools/releases/download/4.2.4/buildifier-linux-amd64
          chmod +x buildifier
      - name: Check
        run: ./buildifier --lint=warn --warnings=all -mode diff WORKSPACE $(find . -type f -name "BUILD.*")

  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install mypy
        run: pip install mypy
      - name: Run mypy
        run: make mypy
