---
name: ci

# These checks only run on pull requests as they don't need to publish anything
# on push. See docker.yml for jobs that run on pushes.
on:
  pull_request:
    branches: [master]

# Cancel old PR builds when pushing new commits.
concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  common:
    uses: TokTok/ci-tools/.github/workflows/common-ci.yml@master

  hie-bios:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: "Generate HIE BIOS output and haskell_targets.bzl"
        run: tools/haskell/hie-docker
      - name: "Verify that haskell_targets.bzl didn't change"
        run: git diff --exit-code

  docker-haskell:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build toxchat/toktok-stack:haskell
        uses: docker/build-push-action@v4
        with:
          file: tools/built/src/Dockerfile.haskell
          tags: toxchat/toktok-stack:haskell
          cache-from: type=registry,ref=toxchat/toktok-stack:haskell

  docker-test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Build toxchat/toktok-stack:latest-third_party
        run: docker build -t toxchat/toktok-stack:latest-third_party -f tools/built/src/Dockerfile.third_party .

      - name: Build toxchat/toktok-stack:latest
        run: docker build -t toxchat/toktok-stack:latest -f tools/built/src/Dockerfile .

      - name: Build toxchat/toktok-stack:latest-fastbuild
        run: docker build -t toxchat/toktok-stack:latest-fastbuild -f tools/built/src/Dockerfile.fastbuild .

      - name: Build toxchat/toktok-stack:latest-arm64
        run: docker build -t toxchat/toktok-stack:latest-arm64 -f tools/built/src/Dockerfile.arm64 .

      - name: Build toxchat/toktok-stack:latest-dev
        run: |
          sed -i -e 's/ --remote_download_outputs=all//' tools/built/src/setup-dev.sh
          docker build -t toxchat/toktok-stack:latest-dev -f tools/built/src/Dockerfile.dev .

  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install mypy
        run: pip install mypy
      - name: Run mypy
        run: make mypy
